:root {
  /* CSS HSL */
--dim-gray: hsla(13, 4%, 42%, 1);
--black-coffee: hsla(12, 10%, 20%, 1);
--bittersweet: hsla(8, 100%, 67%, 1);
--melon: hsla(10, 81%, 84%, 1);
--magic-mint: hsla(151, 54%, 76%, 1);
}

body {
  background-color: var(--melon);
  min-height: 100vh;
  margin: 0;
}
#root {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.App {
  background-color: var(--black-coffee);
  padding: 1em;
  border-radius: 1em;
}
h1{
  color: var(--magic-mint);
}
#form {
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
}
input[name="guess"] {
  font-size: 3em;
  text-align: center;
  max-width: 6ch;
}
button[type="submit"] {
  margin: 1em auto;
  padding: 0.8em;
  background-color: var(--bittersweet);
  color: var(--magic-mint);
  border: var(--melon) 2px solid;
  border-radius: 0.8em;
  min-width: 18ch;
}
.message {
  color: var(--magic-mint);
  text-align: center;
}